@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Press+Start+2P&family=Wendy+One&family=Lato&display=swap");

* {
  box-sizing: border-box;
} /* Includes padding and border in an element's height and width*/
 
 
/*----- Navbar Menu -------*/

.navbar {
  font-family: 'Bungee Inline';
  font-size: 300%;
  color: yellow;
  background-color: black;
  display: block;
  width: 100%;
}

.nav-link p {
  font-family: 'Wendy One', sans-serif;
  font-size: 200%;
  color: aqua;
  margin: 18%;
}

.nav-item {
  color: aqua;
}

.mobile-nav {
  font-size: 100%;
  max-width: 100%;
  text-align: center;
  opacity: 0.6;
}
.mobile-nav i {
  padding: 0 5px 0 5px;
}

#mobile-nav {
  display: none;
}

/*-------- Global ---------*/

body {
  background-color: black;
  margin: 0;
}

/*------ Start Game Form -----*/

#playerPanel {
  display: block;
  position: fixed;
  margin: auto;
  padding: 10%;
  text-align: center;
  justify-content: center;
  z-index: 1100; /* This specifies the stack order to ensure #playerPanel is displayed in front of the rest of the elements on screen */
  background-color: black;
  font-family: 'Bungee Inline';
  font-size:350%;
  color: yellow;
  height:100%
}

#playerForm {
    margin-bottom: 2%;
}
 
.enter-name {
    color: aqua;
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
    margin-bottom: 2%;
}

/*-------------- Gameboard -----------------*/

.game-info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 100px;
  justify-content: center;
  perspective: 500px;
}

.time-turns {
  font-family: 'Press Start 2P';
  color: pink;
}

/*-------------- Cards -----------------*/

.card {
  position: relative;
  display: flex;
  max-width: 100%; 
  max-height: 100%;
  transition: transform 300ms ease-in-out;
}

/* transform specifies the degrees for turning the cards*/
.card-back {
  transform: rotateY(0);
}

.card-picture {
  transform: rotateY(-180deg);
}

.card.visible .card-back {
  transform: rotateY(180deg);
}

.card.visible .card-picture {
  transform: rotateY(0);
}

.card-picture {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}



.card-img,
.card-back {
  max-width: 100px; 
  max-height: 100px;
}

/*-------------- About Section -----------------*/

#about {
    display: block;
    width: 100%;
    text-align: center; 
    padding: 10%;
}

.about-text {
    color: white;
    font-size: 120%;
    font-family: 'Lato', sans-serif;  
    padding: 2%;
    margin: 0;
}

h1 {
 color: purple;
 font-family: 'Wendy One', sans-serif;
 margin: 2px;

}

/*-------------- Subscribe to Newsletter -----------------*/

#subscribe {
    display: block;
    width: 100%;
    text-align: center;
    padding: 5%;
    margin: 0 0 5% 0;
    border-radius: 10px;
    font-family: 'Lato', sans-serif;  
    color: white;
    font-size: 120%;
}

#email-text {
    padding: 5%;
    margin: 10%;
    font-size: 120%;
}

#email-subscribe {
     font-family: 'Bungee Inline';
}

#enter-email {
    padding: 10%;
    color: aqua;
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
}

/*-------------- Player and Scores Table -----------------*/

#scores {
    color: yellow;
    border: 2px solid yellow;
    width: 100%;
    display: block;
    font-size:50%;
}

#scores table {
  width: 100%;
  text-align: center;
}

#scores table th, td {
  text-align: center;
}

#scores table tr.last-game {
  color: white;
  border: 2px solid yellow;
}

/*------------ Feedback Screens -----------*/

.feedback-overlay {
  display: none;
  position: fixed;
  width:100%;
  padding:10%;
  text-align: center;
  justify-content: center;
  z-index: 2500;
  background-color: black;
  font-family: 'Bungee Inline';
  font-size: 350%;
  color: yellow;
}

/*-------------- Footer -------------*/

footer {
  height: 70px;
  width: 100%;
  margin: 0;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
}

.social-links i {
  font-size: 180%;
  margin-top: 1%;
  padding: 0.5%;
  color: white;
}

/*--------------- Media Queries --------------*/

@media only screen and (max-width:950px)
{
#desktop-nav {
    display: none;
}

#mobile-nav {
    display: block;
    max-height: 50px;
    padding: 0;
}

.nav-item {
    font-size: 1.8em;
}

#playerPanel {
  display: block;
  position: fixed;
  padding: 50% 2% 0 0;
  font-size: 100%;
}

#enter-email {
    padding: 5%;
}

#email-text {
    margin: 0;
}

#subscribe {
    margin: 0 0 10% 0;
    padding: 1%;
    border: none;
}

.game-board {
  grid-gap: 1.5%;
  margin: 20% 0 20% 0;
  padding: 2%;
}

.time-turns {
  padding: 1%;
}

footer {
    max-width: 100%;
    max-height: 50px;
    padding: 0;
    margin-top: 2%;
    text-align: center;
}

}