@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Fredericka+the+Great&family=Londrina+Shadow&family=Monofett&family=Press+Start+2P&family=Ranchers&family=Wendy+One&display=swap");

/*----font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ranchers', cursive;
font-family: 'Wendy One', sans-serif;-------*/

* {
  box-sizing: border-box;
}

/*-------------- Nav -----------------*/

.navbar {
  width: 100%;
}

.navbar p {
  font-family: Bungee Inline;
  font-size: 40px;
  color: yellow;
}

.nav-item,
.nav-link {
  color: aqua;
}

.mobile-nav {
  font-size: 140%;
  max-width: 100%;
  text-align: center;
  opacity: 0.6;
}
.mobile-nav i {
  padding: 0 18px 0 18px;
}

#mobile-nav {
  display: none;
}

/*-------------- Global -----------------*/

body {
  background-color: black;
  margin: 0;
  height: 100%;
  width: 100%;
}

/*-------------- Start Game Form -----------------*/

#playerPanel {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color:black;
  font-family: Bungee Inline;
  font-size:350%;
  color:yellow;
  top: 300px;
}

.enter-name {
    color:aqua;
    font-family: 'Press Start 2P', cursive;
    font-size:70%;
}


/*-------------- Gameboard -----------------*/

.game-info {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  margin: 100px;
  justify-content: center;
  perspective: 500px;
}

.time-turns {
  font-family: "Press Start 2P";
  color: pink;
}

/*-------------- Cards -----------------*/

.card {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  transition: transform 300ms ease-in-out;
}

.card-back {
  transform: rotateY(0);
}

.card-picture {
  transform: rotateY(-180deg);
}

.card.visible .card-back {
  transform: rotateY(180deg);
}

.card.visible .card-picture {
  transform: rotateY(0);
}

.card-picture {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 2px;
}

.card-img,
.card-back {
  max-width: 100px; /*--this can affect grid size--*/
  max-height: 100px;
}


/*-------------- Player & Score Panel -----------------*/

.scores {
    color:yellow;
    border: 2px solid yellow;
}

/*------------ Feedback Screens -----------*/

.feedback-overlay {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  background-color:black;
  font-family: Bungee Inline;
  font-size:350%;
  color:yellow;
}


/*-------------- Footer -------------*/

footer {
  height: 70px;
  width: 100%;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
}

.social-links {
  text-align: center;
}

.social-links li {
  display: inline;
}

.social-links i {
  font-size: 180%;
  margin-top: 1%;
  padding: 0.5%;
  color: #ffffff;
}
