@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&family=Fredericka+the+Great&family=Londrina+Shadow&family=Monofett&family=Press+Start+2P&family=Ranchers&family=Wendy+One&display=swap');

/*----font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Ranchers', cursive;
font-family: 'Wendy One', sans-serif;-------*/


/*-------------- Nav -----------------*/

.navbar {
    width:100%;
}

.navbar p{
    font-family: Bungee Inline;
    font-size:40px;
    color:yellow;
}

.nav-item, .nav-link {
    color:aqua;
}

.mobile-nav {
    font-size: 140%;
    max-width: 100%;
    text-align: center;
    opacity: 0.6;
}
.mobile-nav i {
    padding: 0 18px 0 18px;
}

#mobile-nav {
    display: none;
}

/*-------------- Global -----------------*/

body {
    background-color: black;
    height:100vh;
    
}

/*-------------- Intro -----------------*/

.overlay-text {
  display: none;
  position: fixed;
  background-color:black;
  font-family: Bungee Inline;
  font-size:350%;
  color:yellow;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 1100;

}

.overlay-small {
    color:aqua;
    font-family: 'Press Start 2P', cursive;
    font-size:70%;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
}

/*-------------- Footer -------------*/

footer {
    height: 70px;
    width:100%;
    background-color: black;
    position:fixed;
    bottom:0;
    left:0;
}

.social-links {
    text-align: center;
}

.social-links li {
    display: inline;
}

.social-links i {
    font-size: 180%;
    margin-top: 1%;
    padding: 0.5%;
    color: #ffffff;
}